In [1]:
print('Prajwal Raj')

Prajwal Raj

In [3]:
print("Classification with Deicision_Tree_Classifier")

Classification with Deicision_Tree_Classifier

In [4]:
# importing required libraries
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

To download the data, we will use !wget to download it from IBM Object Storage

In [ ]:
!wget -O drug200.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/drug200.csv

In [8]:
df = pd.read_csv('drug200.csv', delimiter=",")

In [9]:
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [13]:
# Some data preprocessing step
df.isnull().values.sum()

0

In [14]:
df.shape

(200, 6)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
Age            200 non-null int64
Sex            200 non-null object
BP             200 non-null object
Cholesterol    200 non-null object
Na_to_K        200 non-null float64
Drug           200 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [15]:
df.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [16]:
df['Drug'].value_counts()

drugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: Drug, dtype: int64

In [22]:
X = df[['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K']]

In [23]:
X.head()

   Age Sex      BP Cholesterol  Na_to_K
0   23   F    HIGH        HIGH   25.355
1   47   M     LOW        HIGH   13.093
2   47   M     LOW        HIGH   10.114
3   28   F  NORMAL        HIGH    7.798
4   61   F     LOW        HIGH   18.043

In [24]:
X

     Age Sex      BP Cholesterol  Na_to_K
0     23   F    HIGH        HIGH   25.355
1     47   M     LOW        HIGH   13.093
2     47   M     LOW        HIGH   10.114
3     28   F  NORMAL        HIGH    7.798
4     61   F     LOW        HIGH   18.043
..   ...  ..     ...         ...      ...
195   56   F     LOW        HIGH   11.567
196   16   M     LOW        HIGH   12.006
197   52   M  NORMAL        HIGH    9.894
198   23   M  NORMAL      NORMAL   14.020
199   40   F     LOW      NORMAL   11.349

[200 rows x 5 columns]

In [25]:
X1 = df[['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K']].values

In [27]:
X1

array([[23, 'F', 'HIGH', 'HIGH', 25.355],
       [47, 'M', 'LOW', 'HIGH', 13.093],
       [47, 'M', 'LOW', 'HIGH', 10.113999999999999],
       [28, 'F', 'NORMAL', 'HIGH', 7.797999999999999],
       [61, 'F', 'LOW', 'HIGH', 18.043],
       [22, 'F', 'NORMAL', 'HIGH', 8.607000000000001],
       [49, 'F', 'NORMAL', 'HIGH', 16.275],
       [41, 'M', 'LOW', 'HIGH', 11.037],
       [60, 'M', 'NORMAL', 'HIGH', 15.171],
       [43, 'M', 'LOW', 'NORMAL', 19.368],
       [47, 'F', 'LOW', 'HIGH', 11.767000000000001],
       [34, 'F', 'HIGH', 'NORMAL', 19.199],
       [43, 'M', 'LOW', 'HIGH', 15.376],
       [74, 'F', 'LOW', 'HIGH', 20.941999999999997],
       [50, 'F', 'NORMAL', 'HIGH', 12.703],
       [16, 'F', 'HIGH', 'NORMAL', 15.515999999999998],
       [69, 'M', 'LOW', 'NORMAL', 11.455],
       [43, 'M', 'HIGH', 'HIGH', 13.972000000000001],
       [23, 'M', 'LOW', 'HIGH', 7.297999999999999],
       [32, 'F', 'HIGH', 'NORMAL', 25.974],
       [57, 'M', 'LOW', 'NORMAL', 19.128],
       [63, 'M', 'NORMAL', 'HIGH', 25.916999999999998],
       [47, 'M', 'LOW', 'NORMAL', 30.568],
       [48, 'F', 'LOW', 'HIGH', 15.036],
       [33, 'F', 'LOW', 'HIGH', 33.486],
       [28, 'F', 'HIGH', 'NORMAL', 18.809],
       [31, 'M', 'HIGH', 'HIGH', 30.366],
       [49, 'F', 'NORMAL', 'NORMAL', 9.381],
       [39, 'F', 'LOW', 'NORMAL', 22.697],
       [45, 'M', 'LOW', 'HIGH', 17.951],
       [18, 'F', 'NORMAL', 'NORMAL', 8.75],
       [74, 'M', 'HIGH', 'HIGH', 9.567],
       [49, 'M', 'LOW', 'NORMAL', 11.014000000000001],
       [65, 'F', 'HIGH', 'NORMAL', 31.875999999999998],
       [53, 'M', 'NORMAL', 'HIGH', 14.133],
       [46, 'M', 'NORMAL', 'NORMAL', 7.285],
       [32, 'M', 'HIGH', 'NORMAL', 9.445],
       [39, 'M', 'LOW', 'NORMAL', 13.937999999999999],
       [39, 'F', 'NORMAL', 'NORMAL', 9.709],
       [15, 'M', 'NORMAL', 'HIGH', 9.084],
       [73, 'F', 'NORMAL', 'HIGH', 19.221],
       [58, 'F', 'HIGH', 'NORMAL', 14.239],
       [50, 'M', 'NORMAL', 'NORMAL', 15.79],
       [23, 'M', 'NORMAL', 'HIGH', 12.26],
       [50, 'F', 'NORMAL', 'NORMAL', 12.295],
       [66, 'F', 'NORMAL', 'NORMAL', 8.107000000000001],
       [37, 'F', 'HIGH', 'HIGH', 13.091],
       [68, 'M', 'LOW', 'HIGH', 10.290999999999999],
       [23, 'M', 'NORMAL', 'HIGH', 31.686],
       [28, 'F', 'LOW', 'HIGH', 19.796],
       [58, 'F', 'HIGH', 'HIGH', 19.416],
       [67, 'M', 'NORMAL', 'NORMAL', 10.898],
       [62, 'M', 'LOW', 'NORMAL', 27.183000000000003],
       [24, 'F', 'HIGH', 'NORMAL', 18.457],
       [68, 'F', 'HIGH', 'NORMAL', 10.189],
       [26, 'F', 'LOW', 'HIGH', 14.16],
       [65, 'M', 'HIGH', 'NORMAL', 11.34],
       [40, 'M', 'HIGH', 'HIGH', 27.826],
       [60, 'M', 'NORMAL', 'NORMAL', 10.091000000000001],
       [34, 'M', 'HIGH', 'HIGH', 18.703],
       [38, 'F', 'LOW', 'NORMAL', 29.875],
       [24, 'M', 'HIGH', 'NORMAL', 9.475],
       [67, 'M', 'LOW', 'NORMAL', 20.693],
       [45, 'M', 'LOW', 'NORMAL', 8.37],
       [60, 'F', 'HIGH', 'HIGH', 13.302999999999999],
       [68, 'F', 'NORMAL', 'NORMAL', 27.05],
       [29, 'M', 'HIGH', 'HIGH', 12.856],
       [17, 'M', 'NORMAL', 'NORMAL', 10.832],
       [54, 'M', 'NORMAL', 'HIGH', 24.658],
       [18, 'F', 'HIGH', 'NORMAL', 24.276],
       [70, 'M', 'HIGH', 'HIGH', 13.967],
       [28, 'F', 'NORMAL', 'HIGH', 19.675],
       [24, 'F', 'NORMAL', 'HIGH', 10.605],
       [41, 'F', 'NORMAL', 'NORMAL', 22.905],
       [31, 'M', 'HIGH', 'NORMAL', 17.069000000000003],
       [26, 'M', 'LOW', 'NORMAL', 20.909000000000002],
       [36, 'F', 'HIGH', 'HIGH', 11.198],
       [26, 'F', 'HIGH', 'NORMAL', 19.160999999999998],
       [19, 'F', 'HIGH', 'HIGH', 13.312999999999999],
       [32, 'F', 'LOW', 'NORMAL', 10.84],
       [60, 'M', 'HIGH', 'HIGH', 13.934000000000001],
       [64, 'M', 'NORMAL', 'HIGH', 7.761],
       [32, 'F', 'LOW', 'HIGH', 9.712],
       [38, 'F', 'HIGH', 'NORMAL', 11.325999999999999],
       [47, 'F', 'LOW', 'HIGH', 10.067],
       [59, 'M', 'HIGH', 'HIGH', 13.935],
       [51, 'F', 'NORMAL', 'HIGH', 13.597000000000001],
       [69, 'M', 'LOW', 'HIGH', 15.478],
       [37, 'F', 'HIGH', 'NORMAL', 23.090999999999998],
       [50, 'F', 'NORMAL', 'NORMAL', 17.211],
       [62, 'M', 'NORMAL', 'HIGH', 16.594],
       [41, 'M', 'HIGH', 'NORMAL', 15.155999999999999],
       [29, 'F', 'HIGH', 'HIGH', 29.45],
       [42, 'F', 'LOW', 'NORMAL', 29.271],
       [56, 'M', 'LOW', 'HIGH', 15.015],
       [36, 'M', 'LOW', 'NORMAL', 11.424000000000001],
       [58, 'F', 'LOW', 'HIGH', 38.247],
       [56, 'F', 'HIGH', 'HIGH', 25.395],
       [20, 'M', 'HIGH', 'NORMAL', 35.639],
       [15, 'F', 'HIGH', 'NORMAL', 16.725],
       [31, 'M', 'HIGH', 'NORMAL', 11.870999999999999],
       [45, 'F', 'HIGH', 'HIGH', 12.854000000000001],
       [28, 'F', 'LOW', 'HIGH', 13.127],
       [56, 'M', 'NORMAL', 'HIGH', 8.966000000000001],
       [22, 'M', 'HIGH', 'NORMAL', 28.294],
       [37, 'M', 'LOW', 'NORMAL', 8.968],
       [22, 'M', 'NORMAL', 'HIGH', 11.953],
       [42, 'M', 'LOW', 'HIGH', 20.012999999999998],
       [72, 'M', 'HIGH', 'NORMAL', 9.677],
       [23, 'M', 'NORMAL', 'HIGH', 16.85],
       [50, 'M', 'HIGH', 'HIGH', 7.49],
       [47, 'F', 'NORMAL', 'NORMAL', 6.683],
       [35, 'M', 'LOW', 'NORMAL', 9.17],
       [65, 'F', 'LOW', 'NORMAL', 13.769],
       [20, 'F', 'NORMAL', 'NORMAL', 9.281],
       [51, 'M', 'HIGH', 'HIGH', 18.295],
       [67, 'M', 'NORMAL', 'NORMAL', 9.514],
       [40, 'F', 'NORMAL', 'HIGH', 10.103],
       [32, 'F', 'HIGH', 'NORMAL', 10.292],
       [61, 'F', 'HIGH', 'HIGH', 25.475],
       [28, 'M', 'NORMAL', 'HIGH', 27.064],
       [15, 'M', 'HIGH', 'NORMAL', 17.206],
       [34, 'M', 'NORMAL', 'HIGH', 22.456],
       [36, 'F', 'NORMAL', 'HIGH', 16.753],
       [53, 'F', 'HIGH', 'NORMAL', 12.495],
       [19, 'F', 'HIGH', 'NORMAL', 25.969],
       [66, 'M', 'HIGH', 'HIGH', 16.347],
       [35, 'M', 'NORMAL', 'NORMAL', 7.845],
       [47, 'M', 'LOW', 'NORMAL', 33.542],
       [32, 'F', 'NORMAL', 'HIGH', 7.477],
       [70, 'F', 'NORMAL', 'HIGH', 20.489],
       [52, 'M', 'LOW', 'NORMAL', 32.922],
       [49, 'M', 'LOW', 'NORMAL', 13.597999999999999],
       [24, 'M', 'NORMAL', 'HIGH', 25.785999999999998],
       [42, 'F', 'HIGH', 'HIGH', 21.035999999999998],
       [74, 'M', 'LOW', 'NORMAL', 11.939],
       [55, 'F', 'HIGH', 'HIGH', 10.977],
       [35, 'F', 'HIGH', 'HIGH', 12.894],
       [51, 'M', 'HIGH', 'NORMAL', 11.343],
       [69, 'F', 'NORMAL', 'HIGH', 10.065],
       [49, 'M', 'HIGH', 'NORMAL', 6.269],
       [64, 'F', 'LOW', 'NORMAL', 25.741],
       [60, 'M', 'HIGH', 'NORMAL', 8.621],
       [74, 'M', 'HIGH', 'NORMAL', 15.436],
       [39, 'M', 'HIGH', 'HIGH', 9.664],
       [61, 'M', 'NORMAL', 'HIGH', 9.443],
       [37, 'F', 'LOW', 'NORMAL', 12.005999999999998],
       [26, 'F', 'HIGH', 'NORMAL', 12.307],
       [61, 'F', 'LOW', 'NORMAL', 7.34],
       [22, 'M', 'LOW', 'HIGH', 8.151],
       [49, 'M', 'HIGH', 'NORMAL', 8.7],
       [68, 'M', 'HIGH', 'HIGH', 11.009],
       [55, 'M', 'NORMAL', 'NORMAL', 7.261],
       [72, 'F', 'LOW', 'NORMAL', 14.642000000000001],
       [37, 'M', 'LOW', 'NORMAL', 16.724],
       [49, 'M', 'LOW', 'HIGH', 10.537],
       [31, 'M', 'HIGH', 'NORMAL', 11.227],
       [53, 'M', 'LOW', 'HIGH', 22.963],
       [59, 'F', 'LOW', 'HIGH', 10.444],
       [34, 'F', 'LOW', 'NORMAL', 12.923],
       [30, 'F', 'NORMAL', 'HIGH', 10.443],
       [57, 'F', 'HIGH', 'NORMAL', 9.945],
       [43, 'M', 'NORMAL', 'NORMAL', 12.859000000000002],
       [21, 'F', 'HIGH', 'NORMAL', 28.631999999999998],
       [16, 'M', 'HIGH', 'NORMAL', 19.007],
       [38, 'M', 'LOW', 'HIGH', 18.295],
       [58, 'F', 'LOW', 'HIGH', 26.645],
       [57, 'F', 'NORMAL', 'HIGH', 14.216],
       [51, 'F', 'LOW', 'NORMAL', 23.003],
       [20, 'F', 'HIGH', 'HIGH', 11.262],
       [28, 'F', 'NORMAL', 'HIGH', 12.879000000000001],
       [45, 'M', 'LOW', 'NORMAL', 10.017000000000001],
       [39, 'F', 'NORMAL', 'NORMAL', 17.225],
       [41, 'F', 'LOW', 'NORMAL', 18.739],
       [42, 'M', 'HIGH', 'NORMAL', 12.765999999999998],
       [73, 'F', 'HIGH', 'HIGH', 18.348],
       [48, 'M', 'HIGH', 'NORMAL', 10.446],
       [25, 'M', 'NORMAL', 'HIGH', 19.011],
       [39, 'M', 'NORMAL', 'HIGH', 15.969000000000001],
       [67, 'F', 'NORMAL', 'HIGH', 15.890999999999998],
       [22, 'F', 'HIGH', 'NORMAL', 22.818],
       [59, 'F', 'NORMAL', 'HIGH', 13.884],
       [20, 'F', 'LOW', 'NORMAL', 11.686],
       [36, 'F', 'HIGH', 'NORMAL', 15.49],
       [18, 'F', 'HIGH', 'HIGH', 37.188],
       [57, 'F', 'NORMAL', 'NORMAL', 25.893],
       [70, 'M', 'HIGH', 'HIGH', 9.849],
       [47, 'M', 'HIGH', 'HIGH', 10.402999999999999],
       [65, 'M', 'HIGH', 'NORMAL', 34.997],
       [64, 'M', 'HIGH', 'NORMAL', 20.932],
       [58, 'M', 'HIGH', 'HIGH', 18.991],
       [23, 'M', 'HIGH', 'HIGH', 8.011000000000001],
       [72, 'M', 'LOW', 'HIGH', 16.31],
       [72, 'M', 'LOW', 'HIGH', 6.769],
       [46, 'F', 'HIGH', 'HIGH', 34.686],
       [56, 'F', 'LOW', 'HIGH', 11.567],
       [16, 'M', 'LOW', 'HIGH', 12.005999999999998],
       [52, 'M', 'NORMAL', 'HIGH', 9.894],
       [23, 'M', 'NORMAL', 'NORMAL', 14.02],
       [40, 'F', 'LOW', 'NORMAL', 11.349]], dtype=object)

Some of the features are categorical like Sex, BP. Unfortunately DecisionTree do not handle categorical features. . But still we can convert these features to numerical values.

**pandas.get_dummies()** Convert categorical variable into dummy/indicator variables.

In [28]:
from sklearn import preprocessing

In [33]:
# Converting the Sex label to binary
le_sex = preprocessing.LabelEncoder()
le_sex.fit(['F','M'])
X1[:,1] = le_sex.transform(X1[:,1])

ValueError: y contains previously unseen labels: 0

In [34]:
X1

array([[23, 0, 'HIGH', 'HIGH', 25.355],
       [47, 1, 'LOW', 'HIGH', 13.093],
       [47, 1, 'LOW', 'HIGH', 10.113999999999999],
       [28, 0, 'NORMAL', 'HIGH', 7.797999999999999],
       [61, 0, 'LOW', 'HIGH', 18.043],
       [22, 0, 'NORMAL', 'HIGH', 8.607000000000001],
       [49, 0, 'NORMAL', 'HIGH', 16.275],
       [41, 1, 'LOW', 'HIGH', 11.037],
       [60, 1, 'NORMAL', 'HIGH', 15.171],
       [43, 1, 'LOW', 'NORMAL', 19.368],
       [47, 0, 'LOW', 'HIGH', 11.767000000000001],
       [34, 0, 'HIGH', 'NORMAL', 19.199],
       [43, 1, 'LOW', 'HIGH', 15.376],
       [74, 0, 'LOW', 'HIGH', 20.941999999999997],
       [50, 0, 'NORMAL', 'HIGH', 12.703],
       [16, 0, 'HIGH', 'NORMAL', 15.515999999999998],
       [69, 1, 'LOW', 'NORMAL', 11.455],
       [43, 1, 'HIGH', 'HIGH', 13.972000000000001],
       [23, 1, 'LOW', 'HIGH', 7.297999999999999],
       [32, 0, 'HIGH', 'NORMAL', 25.974],
       [57, 1, 'LOW', 'NORMAL', 19.128],
       [63, 1, 'NORMAL', 'HIGH', 25.916999999999998],
       [47, 1, 'LOW', 'NORMAL', 30.568],
       [48, 0, 'LOW', 'HIGH', 15.036],
       [33, 0, 'LOW', 'HIGH', 33.486],
       [28, 0, 'HIGH', 'NORMAL', 18.809],
       [31, 1, 'HIGH', 'HIGH', 30.366],
       [49, 0, 'NORMAL', 'NORMAL', 9.381],
       [39, 0, 'LOW', 'NORMAL', 22.697],
       [45, 1, 'LOW', 'HIGH', 17.951],
       [18, 0, 'NORMAL', 'NORMAL', 8.75],
       [74, 1, 'HIGH', 'HIGH', 9.567],
       [49, 1, 'LOW', 'NORMAL', 11.014000000000001],
       [65, 0, 'HIGH', 'NORMAL', 31.875999999999998],
       [53, 1, 'NORMAL', 'HIGH', 14.133],
       [46, 1, 'NORMAL', 'NORMAL', 7.285],
       [32, 1, 'HIGH', 'NORMAL', 9.445],
       [39, 1, 'LOW', 'NORMAL', 13.937999999999999],
       [39, 0, 'NORMAL', 'NORMAL', 9.709],
       [15, 1, 'NORMAL', 'HIGH', 9.084],
       [73, 0, 'NORMAL', 'HIGH', 19.221],
       [58, 0, 'HIGH', 'NORMAL', 14.239],
       [50, 1, 'NORMAL', 'NORMAL', 15.79],
       [23, 1, 'NORMAL', 'HIGH', 12.26],
       [50, 0, 'NORMAL', 'NORMAL', 12.295],
       [66, 0, 'NORMAL', 'NORMAL', 8.107000000000001],
       [37, 0, 'HIGH', 'HIGH', 13.091],
       [68, 1, 'LOW', 'HIGH', 10.290999999999999],
       [23, 1, 'NORMAL', 'HIGH', 31.686],
       [28, 0, 'LOW', 'HIGH', 19.796],
       [58, 0, 'HIGH', 'HIGH', 19.416],
       [67, 1, 'NORMAL', 'NORMAL', 10.898],
       [62, 1, 'LOW', 'NORMAL', 27.183000000000003],
       [24, 0, 'HIGH', 'NORMAL', 18.457],
       [68, 0, 'HIGH', 'NORMAL', 10.189],
       [26, 0, 'LOW', 'HIGH', 14.16],
       [65, 1, 'HIGH', 'NORMAL', 11.34],
       [40, 1, 'HIGH', 'HIGH', 27.826],
       [60, 1, 'NORMAL', 'NORMAL', 10.091000000000001],
       [34, 1, 'HIGH', 'HIGH', 18.703],
       [38, 0, 'LOW', 'NORMAL', 29.875],
       [24, 1, 'HIGH', 'NORMAL', 9.475],
       [67, 1, 'LOW', 'NORMAL', 20.693],
       [45, 1, 'LOW', 'NORMAL', 8.37],
       [60, 0, 'HIGH', 'HIGH', 13.302999999999999],
       [68, 0, 'NORMAL', 'NORMAL', 27.05],
       [29, 1, 'HIGH', 'HIGH', 12.856],
       [17, 1, 'NORMAL', 'NORMAL', 10.832],
       [54, 1, 'NORMAL', 'HIGH', 24.658],
       [18, 0, 'HIGH', 'NORMAL', 24.276],
       [70, 1, 'HIGH', 'HIGH', 13.967],
       [28, 0, 'NORMAL', 'HIGH', 19.675],
       [24, 0, 'NORMAL', 'HIGH', 10.605],
       [41, 0, 'NORMAL', 'NORMAL', 22.905],
       [31, 1, 'HIGH', 'NORMAL', 17.069000000000003],
       [26, 1, 'LOW', 'NORMAL', 20.909000000000002],
       [36, 0, 'HIGH', 'HIGH', 11.198],
       [26, 0, 'HIGH', 'NORMAL', 19.160999999999998],
       [19, 0, 'HIGH', 'HIGH', 13.312999999999999],
       [32, 0, 'LOW', 'NORMAL', 10.84],
       [60, 1, 'HIGH', 'HIGH', 13.934000000000001],
       [64, 1, 'NORMAL', 'HIGH', 7.761],
       [32, 0, 'LOW', 'HIGH', 9.712],
       [38, 0, 'HIGH', 'NORMAL', 11.325999999999999],
       [47, 0, 'LOW', 'HIGH', 10.067],
       [59, 1, 'HIGH', 'HIGH', 13.935],
       [51, 0, 'NORMAL', 'HIGH', 13.597000000000001],
       [69, 1, 'LOW', 'HIGH', 15.478],
       [37, 0, 'HIGH', 'NORMAL', 23.090999999999998],
       [50, 0, 'NORMAL', 'NORMAL', 17.211],
       [62, 1, 'NORMAL', 'HIGH', 16.594],
       [41, 1, 'HIGH', 'NORMAL', 15.155999999999999],
       [29, 0, 'HIGH', 'HIGH', 29.45],
       [42, 0, 'LOW', 'NORMAL', 29.271],
       [56, 1, 'LOW', 'HIGH', 15.015],
       [36, 1, 'LOW', 'NORMAL', 11.424000000000001],
       [58, 0, 'LOW', 'HIGH', 38.247],
       [56, 0, 'HIGH', 'HIGH', 25.395],
       [20, 1, 'HIGH', 'NORMAL', 35.639],
       [15, 0, 'HIGH', 'NORMAL', 16.725],
       [31, 1, 'HIGH', 'NORMAL', 11.870999999999999],
       [45, 0, 'HIGH', 'HIGH', 12.854000000000001],
       [28, 0, 'LOW', 'HIGH', 13.127],
       [56, 1, 'NORMAL', 'HIGH', 8.966000000000001],
       [22, 1, 'HIGH', 'NORMAL', 28.294],
       [37, 1, 'LOW', 'NORMAL', 8.968],
       [22, 1, 'NORMAL', 'HIGH', 11.953],
       [42, 1, 'LOW', 'HIGH', 20.012999999999998],
       [72, 1, 'HIGH', 'NORMAL', 9.677],
       [23, 1, 'NORMAL', 'HIGH', 16.85],
       [50, 1, 'HIGH', 'HIGH', 7.49],
       [47, 0, 'NORMAL', 'NORMAL', 6.683],
       [35, 1, 'LOW', 'NORMAL', 9.17],
       [65, 0, 'LOW', 'NORMAL', 13.769],
       [20, 0, 'NORMAL', 'NORMAL', 9.281],
       [51, 1, 'HIGH', 'HIGH', 18.295],
       [67, 1, 'NORMAL', 'NORMAL', 9.514],
       [40, 0, 'NORMAL', 'HIGH', 10.103],
       [32, 0, 'HIGH', 'NORMAL', 10.292],
       [61, 0, 'HIGH', 'HIGH', 25.475],
       [28, 1, 'NORMAL', 'HIGH', 27.064],
       [15, 1, 'HIGH', 'NORMAL', 17.206],
       [34, 1, 'NORMAL', 'HIGH', 22.456],
       [36, 0, 'NORMAL', 'HIGH', 16.753],
       [53, 0, 'HIGH', 'NORMAL', 12.495],
       [19, 0, 'HIGH', 'NORMAL', 25.969],
       [66, 1, 'HIGH', 'HIGH', 16.347],
       [35, 1, 'NORMAL', 'NORMAL', 7.845],
       [47, 1, 'LOW', 'NORMAL', 33.542],
       [32, 0, 'NORMAL', 'HIGH', 7.477],
       [70, 0, 'NORMAL', 'HIGH', 20.489],
       [52, 1, 'LOW', 'NORMAL', 32.922],
       [49, 1, 'LOW', 'NORMAL', 13.597999999999999],
       [24, 1, 'NORMAL', 'HIGH', 25.785999999999998],
       [42, 0, 'HIGH', 'HIGH', 21.035999999999998],
       [74, 1, 'LOW', 'NORMAL', 11.939],
       [55, 0, 'HIGH', 'HIGH', 10.977],
       [35, 0, 'HIGH', 'HIGH', 12.894],
       [51, 1, 'HIGH', 'NORMAL', 11.343],
       [69, 0, 'NORMAL', 'HIGH', 10.065],
       [49, 1, 'HIGH', 'NORMAL', 6.269],
       [64, 0, 'LOW', 'NORMAL', 25.741],
       [60, 1, 'HIGH', 'NORMAL', 8.621],
       [74, 1, 'HIGH', 'NORMAL', 15.436],
       [39, 1, 'HIGH', 'HIGH', 9.664],
       [61, 1, 'NORMAL', 'HIGH', 9.443],
       [37, 0, 'LOW', 'NORMAL', 12.005999999999998],
       [26, 0, 'HIGH', 'NORMAL', 12.307],
       [61, 0, 'LOW', 'NORMAL', 7.34],
       [22, 1, 'LOW', 'HIGH', 8.151],
       [49, 1, 'HIGH', 'NORMAL', 8.7],
       [68, 1, 'HIGH', 'HIGH', 11.009],
       [55, 1, 'NORMAL', 'NORMAL', 7.261],
       [72, 0, 'LOW', 'NORMAL', 14.642000000000001],
       [37, 1, 'LOW', 'NORMAL', 16.724],
       [49, 1, 'LOW', 'HIGH', 10.537],
       [31, 1, 'HIGH', 'NORMAL', 11.227],
       [53, 1, 'LOW', 'HIGH', 22.963],
       [59, 0, 'LOW', 'HIGH', 10.444],
       [34, 0, 'LOW', 'NORMAL', 12.923],
       [30, 0, 'NORMAL', 'HIGH', 10.443],
       [57, 0, 'HIGH', 'NORMAL', 9.945],
       [43, 1, 'NORMAL', 'NORMAL', 12.859000000000002],
       [21, 0, 'HIGH', 'NORMAL', 28.631999999999998],
       [16, 1, 'HIGH', 'NORMAL', 19.007],
       [38, 1, 'LOW', 'HIGH', 18.295],
       [58, 0, 'LOW', 'HIGH', 26.645],
       [57, 0, 'NORMAL', 'HIGH', 14.216],
       [51, 0, 'LOW', 'NORMAL', 23.003],
       [20, 0, 'HIGH', 'HIGH', 11.262],
       [28, 0, 'NORMAL', 'HIGH', 12.879000000000001],
       [45, 1, 'LOW', 'NORMAL', 10.017000000000001],
       [39, 0, 'NORMAL', 'NORMAL', 17.225],
       [41, 0, 'LOW', 'NORMAL', 18.739],
       [42, 1, 'HIGH', 'NORMAL', 12.765999999999998],
       [73, 0, 'HIGH', 'HIGH', 18.348],
       [48, 1, 'HIGH', 'NORMAL', 10.446],
       [25, 1, 'NORMAL', 'HIGH', 19.011],
       [39, 1, 'NORMAL', 'HIGH', 15.969000000000001],
       [67, 0, 'NORMAL', 'HIGH', 15.890999999999998],
       [22, 0, 'HIGH', 'NORMAL', 22.818],
       [59, 0, 'NORMAL', 'HIGH', 13.884],
       [20, 0, 'LOW', 'NORMAL', 11.686],
       [36, 0, 'HIGH', 'NORMAL', 15.49],
       [18, 0, 'HIGH', 'HIGH', 37.188],
       [57, 0, 'NORMAL', 'NORMAL', 25.893],
       [70, 1, 'HIGH', 'HIGH', 9.849],
       [47, 1, 'HIGH', 'HIGH', 10.402999999999999],
       [65, 1, 'HIGH', 'NORMAL', 34.997],
       [64, 1, 'HIGH', 'NORMAL', 20.932],
       [58, 1, 'HIGH', 'HIGH', 18.991],
       [23, 1, 'HIGH', 'HIGH', 8.011000000000001],
       [72, 1, 'LOW', 'HIGH', 16.31],
       [72, 1, 'LOW', 'HIGH', 6.769],
       [46, 0, 'HIGH', 'HIGH', 34.686],
       [56, 0, 'LOW', 'HIGH', 11.567],
       [16, 1, 'LOW', 'HIGH', 12.005999999999998],
       [52, 1, 'NORMAL', 'HIGH', 9.894],
       [23, 1, 'NORMAL', 'NORMAL', 14.02],
       [40, 0, 'LOW', 'NORMAL', 11.349]], dtype=object)

In [35]:

le_BP = preprocessing.LabelEncoder()
le_BP.fit(['LOW','NORMAL','HIGH'])
X1[:,2] = le_BP.transform(X1[:,2])

In [36]:
X1[0:10]

array([[23, 0, 0, 'HIGH', 25.355],
       [47, 1, 1, 'HIGH', 13.093],
       [47, 1, 1, 'HIGH', 10.113999999999999],
       [28, 0, 2, 'HIGH', 7.797999999999999],
       [61, 0, 1, 'HIGH', 18.043],
       [22, 0, 2, 'HIGH', 8.607000000000001],
       [49, 0, 2, 'HIGH', 16.275],
       [41, 1, 1, 'HIGH', 11.037],
       [60, 1, 2, 'HIGH', 15.171],
       [43, 1, 1, 'NORMAL', 19.368]], dtype=object)

In [37]:
df['Cholesterol'].value_counts()

HIGH      103
NORMAL     97
Name: Cholesterol, dtype: int64

In [40]:
le_Col = preprocessing.LabelEncoder()
le_Col.fit(['HIGH','NORMAL'])
X1[:,3] = le_Col.transform(X1[:,3])

In [41]:
X1[:10]

array([[23, 0, 0, 0, 25.355],
       [47, 1, 1, 0, 13.093],
       [47, 1, 1, 0, 10.113999999999999],
       [28, 0, 2, 0, 7.797999999999999],
       [61, 0, 1, 0, 18.043],
       [22, 0, 2, 0, 8.607000000000001],
       [49, 0, 2, 0, 16.275],
       [41, 1, 1, 0, 11.037],
       [60, 1, 2, 0, 15.171],
       [43, 1, 1, 1, 19.368]], dtype=object)

In [42]:
y = df['Drug']

In [43]:
y.head()

0    drugY
1    drugC
2    drugC
3    drugX
4    drugY
Name: Drug, dtype: object

In [44]:
y[:10]

0    drugY
1    drugC
2    drugC
3    drugX
4    drugY
5    drugX
6    drugY
7    drugC
8    drugY
9    drugY
Name: Drug, dtype: object

In [45]:
from sklearn.model_selection import train_test_split

In [52]:
x_train, x_test, y_train, y_test = train_test_split(X1, y , test_size = 0.2, random_state= 1)

In [53]:
print(x_train.shape)

(160, 5)

In [54]:
y_train.shape

(160,)

In [55]:
x_test.shape

(40, 5)

In [56]:
y_test.shape

(40,)

In [57]:
d = DecisionTreeClassifier(max_depth= 4, criterion = 'entropy')

In [58]:
d

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [59]:
d.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [60]:
yhat = d.predict(x_test)

In [61]:
yhat[:10]

array(['drugX', 'drugY', 'drugX', 'drugC', 'drugY', 'drugX', 'drugX',
       'drugY', 'drugY', 'drugY'], dtype=object)

In [66]:
df.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [68]:
y_test[:10]

58     drugX
40     drugY
34     drugX
102    drugC
184    drugY
198    drugX
95     drugX
4      drugY
29     drugY
168    drugY
Name: Drug, dtype: object

In [69]:
yhat[:10]

array(['drugX', 'drugY', 'drugX', 'drugC', 'drugY', 'drugX', 'drugX',
       'drugY', 'drugY', 'drugY'], dtype=object)

In [70]:
d.score(x_test,y_test)

1.0

In [71]:
from sklearn.metrics import accuracy_score

In [72]:
accuracy_score(y_test, yhat)

1.0